/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Baloo Bhai';
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;

}
/* NavBar: Logo and Image */
#logo{
    margin: 3px 30px;
}
#logo img{
    margin: 5px 15px;
    height: 80px;
    border-radius: 50%;
}
/* NavBar List Styling */
#navbar ul{
    display: flex;
}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: .9rem;
}
#navbar ul li a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* home section */
#home{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3px 200px;
    height: 725px;
}
#home::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(bg.jpg) no-repeat center center/cover;
    opacity: 0.4;
}
#home h1{
    color: black;
    align-items: center;
    font-family: 'Bree Serif';
}
#home p{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Sofia';
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
}
#services .box img{
    height: 150px;
    display: block;
    margin: auto;
}


/* Utility Classes */
.h-primary{
    font-size: 1.8rem;
    padding: 12px;

}
.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 7px;
    font-size: 1.5rem;
    cursor: pointer;
}
.h-secondary{
    font-size: .8rem;
    padding: 12px;
}
.center{
    align-items: center;
}
